html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.85rem 1.3rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1000;
}

header a {
    text-decoration: none;
}

header a h1 {
    color: red;
    margin: 0;
}

header a:hover h1 {
    color: white;
}

h1 {
    color: red;
    margin: 0;
    font-size: 2rem;
}

nav {
    margin-left: auto;
    display: flex;
    margin-right: 2%;
}

nav a {
    color: red;
    border: 1px solid red;
    padding: 0.5rem 0.65rem;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    background-color: red;
    color: black;
}

#title-card-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#title-card-section img {
    margin-right: 2rem;
    width: 25vw;
    height: auto;
    max-width: 425px;
    border: 5px solid red;
    border-radius: 20px;
}

#title-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-card-text h1 {
    font-size: 4rem;
    margin: 1.6rem 0;
}

#title-card-text h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

#title-card-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.6rem;
}

#title-card-icons img {
    width: 8vw;
    height: auto;
    max-width: 100px;
    border: 5px solid red;
    border-radius: 20px;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: black;
    color: white;
    margin-bottom: 100px;
}

#about-me h2 {
    font-size: 4vw;
    margin-bottom: 1.5rem;
}

.about-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    gap: 1.5rem;
}

.about-me-image {
    width: 25vw;
    height: auto;
    border: 5px solid red;
    border-radius: 20px;
}

#about-me-icons-image {
    margin-left: 5%;
    width: 40vw;
    object-fit: contain;
}

#about-me-paragraph {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 1.25rem;
}

#experience {
    height: 100vh;
    padding: 5vw;
    margin: 1.6rem 0;
}

#experience-section h2 {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 3vh;
    color: white;
}

.experience-item {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.experience-item img {
    width: 20vw;
    height: auto;
    object-fit: contain;
    margin-right: 2vw;
}

.experience-item h3 {
    font-size: 2.5vw;
    color: white;
}

@media (max-width: 768px) {
    #experience-section h2 {
        font-size: 6vw;
    }

    .experience-item img {
        width: 40vw;
    }

    .experience-item h3 {
        font-size: 4vw;
    }
}
